@tailwind base;
@tailwind components;
@tailwind utilities;
 

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
}
.text-color1{
  color: #2B2C32;
}
.bg-color{
 background-color: #2B2C32;
 
}


.b{
  border: 2px solid black;
}
.b-color{
  background-color: #9F8F87;
}
.text-color{
  text-decoration: none;
  color: #9F8F87;
}


.mapouter{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align:right;
  height:400px;
  width:100%;
}
.gmap_canvas {
  overflow:hidden;
  background:none
  !important;height:100%;
  width:100%;}
  .b-bottum{
    border: none;
    border-top:2px solid #9F8F87;
  }
  
.text-color2{
  text-decoration: none;
   color: white;
}
.text-color2:hover{
color: #24B9D7;
 
}
.bg :hover{
    background-color: #24B9D7;

}
.l-div{
  border: none;
  border-bottom: 1px solid gray;
}


.layout-bg{
  background-color: #464955;
}
.order-div{
  border: none;
  border-bottom: 2px solid black;
}

.text-color3{
  color: #9F8F87;
}
.order-items{
  display: inline-block;
  text-decoration: none;
  border: 2px solid #9F8F87;
 
  background-color: #DADDE2;
}
.order-items1{
  background-color: #9F8F87;
  display: inline-block;
  text-decoration: none;
  color: white;

}
.nav-item li{
 
  display: inline-block;
  text-decoration: none;
  color: white;

}
.cart{
  background-color: #312B2B;
}
